
<div class="col-lg-5 col-md-10 mx-auto" *ngIf="randomUserDaughter">
  <div class="card-user">
    <div class="container-image" (click)="smallDisplay = !smallDisplay">
      <img [src]="randomUserDaughter.picture.large" [alt]="randomUserDaughter.name.first">
      <div class="info-profil" [hidden]="smallDisplay">
        <fa-icon class="heart" [icon]="iconFaHeart"></fa-icon>
        <fa-icon class="heart" [icon]="faCrosshairs"></fa-icon>
        <p>{{randomUserDaughter.name.first}}, {{randomUserDaughter.dob.age}}</p>
      </div>
    </div>
    <div class="container-info" [hidden]="!smallDisplay">
      {{randomUserDaughter.name.first}}, {{randomUserDaughter.dob.age}}
      <p>{{randomUserDaughter.location.city}}, {{randomUserDaughter.location.country}}</p>
    </div>
  </div>
</div>

